force-app/main/default/flows/Lead_FL01_Affectations_des_leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>notify_email_0</name>
        <label>notify email</label>
        <locationX>1414</locationX>
        <locationY>2711</locationY>
        <actionName>Lead.Email_Alert_for_owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assignment_Agence</name>
        <label>Assignment Agence</label>
        <locationX>1370</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Agence_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_centre_d_Appel</name>
        <label>Assignment centre d Appel</label>
        <locationX>1634</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Centre_dAppel_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_email_manager_1</name>
        <label>Assignment email manager 1</label>
        <locationX>1260</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>emailManager1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>if_manager_2_exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_email_manager_2</name>
        <label>Assignment email manager 2</label>
        <locationX>1128</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>EmailManager2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Manager.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Grand_Compte</name>
        <label>Assignment Grand Compte</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCommercialUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SAV</name>
        <label>Assignment SAV</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_user_SAV</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_VN</name>
        <label>Assignment VN</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_user_VN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_VO</name>
        <label>Assignment VO</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>Ownerid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_user_VO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Owner_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Affectation_web</name>
        <label>Affectation web</label>
        <locationX>1139</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Affectation_web_commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affectation_web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>categorie</targetReference>
            </connector>
            <label>Affectation web commercial</label>
        </rules>
        <rules>
            <name>Affectation_web_agence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affectation_web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agence</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Agence_User</targetReference>
            </connector>
            <label>Affectation web agence</label>
        </rules>
        <rules>
            <name>Affectation_web_centre_d_appel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affectation_web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Centre d&apos;appel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Centre_dAppel_User</targetReference>
            </connector>
            <label>Affectation web centre d appel</label>
        </rules>
    </decisions>
    <decisions>
        <name>categorie</name>
        <label>categorie</label>
        <locationX>380</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>type_dintert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Categorie_Grand_Compte</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Categorie_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grand compte</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCommercialUser</targetReference>
            </connector>
            <label>Categorie Grand Compte</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Manager_1_exist</name>
        <label>If Manager 1 exist</label>
        <locationX>1414</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Create_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_email_manager_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_manager_2_exist</name>
        <label>if manager 2 exist</label>
        <locationX>1260</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Create_Task_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Manager.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_email_manager_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new</name>
        <label>is new</label>
        <locationX>1139</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Affectation isChanged = false</defaultConnectorLabel>
        <rules>
            <name>YesYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affectation_web</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Affectation_web__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Affectation_web</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Owner_Found</name>
        <label>New Owner Found ?</label>
        <locationX>1139</locationX>
        <locationY>1559</locationY>
        <defaultConnector>
            <targetReference>update_lead_owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Ownerid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>type_dintert</name>
        <label>type dintert</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_d_interet_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user_VN</targetReference>
            </connector>
            <label>VN</label>
        </rules>
        <rules>
            <name>VO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_d_interet_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user_VO</targetReference>
            </connector>
            <label>VO</label>
        </rules>
        <rules>
            <name>SAV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_d_interet_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_user_SAV</targetReference>
            </connector>
            <label>SAV</label>
        </rules>
    </decisions>
    <description>Affectation des prospects et creation de tache pour le responsable avec un envoi d&apos;un email d&apos;affectation</description>
    <formulas>
        <name>dueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (30/1440)</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>reminderDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (1/1440)</expression>
    </formulas>
    <interviewLabel>[Lead] FL01 Affectations des leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] FL01 Affectations des leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_0</name>
        <label>Create Task</label>
        <locationX>1414</locationX>
        <locationY>2591</locationY>
        <connector>
            <targetReference>notify_email_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cette tâche est créée automatiquement pour suivre la qualification du prospect lié. Pensez à qualifier le prospect avant de clôturer cette tâche.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Manager_N_1__c</field>
            <value>
                <elementReference>emailManager1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Manager_N_2__c</field>
            <value>
                <elementReference>EmailManager2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>reminderDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Qualification d&apos;un prospect web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>is_webLead_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Agence_User</name>
        <label>get Agence User</label>
        <locationX>1370</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Agence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agence_web_to_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Centre_dAppel_User</name>
        <label>get Centre dAppel User</label>
        <locationX>1634</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_centre_d_Appel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Centre_d_appel_web_to_lead__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_SAV</name>
        <label>get user SAV</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_SAV</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commercial_web_to_lead_SAV__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Showroom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Showroom__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Marque_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Marque_d_interet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_VN</name>
        <label>get user VN</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_VN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commercial_web_to_lead_VN__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Showroom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Showroom__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Marque_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Marque_d_interet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_user_VO</name>
        <label>get user VO</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_VO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commercial_web_to_lead_VO__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Showroom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Showroom__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Marque_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Marque_d_interet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCommercialUser</name>
        <label>getCommercialUser</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Grand_Compte</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Commercial_web_to_lead_Grands_Comptes__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Showroom__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Showroom__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Marque_Text__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.Marque_d_interet__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_de_derni_re_affectation_web__c</queriedFields>
        <sortField>Date_de_derni_re_affectation_web__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_lead_owner_0</name>
        <label>update lead owner</label>
        <locationX>1414</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>update_owner_0</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Ownerid.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_owner_0</name>
        <label>update owner</label>
        <locationX>1414</locationX>
        <locationY>1799</locationY>
        <connector>
            <targetReference>If_Manager_1_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Ownerid.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_de_derni_re_affectation_web__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>is_Web__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Affectation_web__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>bodyEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour {!Ownerid.Name}&lt;/p&gt;&lt;p&gt;Le lead {!$Record.Name} est bien affecter &lt;/p&gt;&lt;p&gt;merci de le traité&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;cordialement&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://smeia--dev1--c.documentforce.com/sfc/servlet.shepherd/version/download/0682z000000NtCZ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailManager1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailManager2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NOW</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>Ownerid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Affectation de lead</stringValue>
        </value>
    </variables>
</Flow>
