force-app/main/default/flows/Lead_FL03_Verification_de_marque.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Init_Flag</name>
        <label>Init Flag</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>MarqueKO</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Marque_autoris_e</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Marque_KO</name>
        <label>Marque KO</label>
        <locationX>264</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>MarqueKO</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Prospect_Fields_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Marque_autoris_e</name>
        <label>Marque autorisée ?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Marque_KO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Marque KO</defaultConnectorLabel>
        <rules>
            <name>Marque_OK</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.TECH_Marque_Text__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Marque_d_interet__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Prospect_Fields_0</targetReference>
            </connector>
            <label>Marque OK</label>
        </rules>
    </decisions>
    <formulas>
        <name>isnewlead</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>[Lead] FL03 Verification de marque {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] FL03 Verification de marque</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Prospect_Fields_0</name>
        <label>Update Prospect Fields</label>
        <locationX>176</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Showroom__c</field>
            <value>
                <elementReference>$User.Showroom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TECH_marque_ko__c</field>
            <value>
                <elementReference>MarqueKO</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_lancement_de_sync_apres_creation__c</field>
            <value>
                <elementReference>isnewlead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Flag</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MarqueKO</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
