force-app/main/default/flows/Lead_FL02_Process_After_Edited_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>is_campaign_members_exist</name>
        <label>is campaign members exist</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>create_campaign_members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>campaignExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new</name>
        <label>is new</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>oui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campagne_source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_campaign_members</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campagne_source__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campagne_source__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaignMembers</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Si_lead_qualif</name>
        <label>Si lead qualifé</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>is_new</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default OUTCOME</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Qualification_web_to_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intéressé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qualification_web_to_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pas intéressé</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qualification_web_to_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Faux numéro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qualification_web_to_lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hors cible</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Qualification_web_to_lead__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>clotur_tasks</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>noo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FirstName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_name</targetReference>
            </connector>
            <label>No (change name)</label>
        </rules>
    </decisions>
    <description>Creation des campaign et cloture des taches</description>
    <formulas>
        <name>firstName</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!$Record.FirstName},1))&amp;LOWER(Mid({!$Record.FirstName}, 2, Len({!$Record.FirstName})-1))</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>lastName</name>
        <dataType>String</dataType>
        <expression>upper({!$Record.LastName})</expression>
    </formulas>
    <interviewLabel>[Lead] FL02 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] FL02 Process After Edited Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_campaign_members</name>
        <label>create campaign members</label>
        <locationX>314</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Campagne_source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getCampaignMembers</name>
        <label>getCampaignMembers</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_campaign_members_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Campagne_source__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>clotur_tasks</name>
        <label>cloturé tasks</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>is_new</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_name</name>
        <label>update name</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>is_new</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Si_lead_qualif</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
