force-app/main/default/flows/Lead_FL05_Noification_des_prospects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BMW_essai</name>
        <label>BMW essai</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>Lead.Alert_for_new_lead_BMW_essai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_BMW_essai</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>BWM_offre</name>
        <label>BWM offre</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Lead.Alert_for_new_lead_BMW_offre</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_BMW_offre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>conversion</name>
        <label>conversion</label>
        <locationX>2162</locationX>
        <locationY>455</locationY>
        <actionName>Lead.Email_Alert_for_lead_convertion</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_conversion</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MINI_essai</name>
        <label>MINI essai</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>Lead.Alert_for_new_lead_MINI_essai</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_MINI_essai</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>MINI_Offre</name>
        <label>MINI Offre</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Lead.Alert_for_new_lead_MINI_offre</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_MINI_offre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Motorrad_offre</name>
        <label>Motorrad offre</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Lead.Alert_for_new_lead_MOTORRAD_offre</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Email_template_MOTORRAD_offre</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>submited</name>
        <label>submited</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_MINI_essai.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>submited_0</name>
        <label>submited</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_BMW_offre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>submited_0_0</name>
        <label>submited</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_MOTORRAD_offre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>submited_0_0_0</name>
        <label>submited</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_BMW_essai.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>submited_0_0_0_0</name>
        <label>submited</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_conversion.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>submited_0_0_0_0_0</name>
        <label>submited</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Email_template_MINI_offre.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Email_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Marque</name>
        <label>Marque</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BMW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BWM_offre</targetReference>
            </connector>
            <label>BMW</label>
        </rules>
        <rules>
            <name>Motorrad</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOTORRAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Motorrad_offre</targetReference>
            </connector>
            <label>Motorrad</label>
        </rules>
        <rules>
            <name>MINI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MINI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MINI_Offre</targetReference>
            </connector>
            <label>MINI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marque_0</name>
        <label>Marque</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BMW_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BMW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BMW_essai</targetReference>
            </connector>
            <label>BMW</label>
        </rules>
        <rules>
            <name>Motorrad_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Marque_d_interet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MOTORRAD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MINI_essai</targetReference>
            </connector>
            <label>Motorrad</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_lead</name>
        <label>New lead</label>
        <locationX>1799</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.is_Web__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Offre_or_essai</targetReference>
            </connector>
            <label>yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>conversion</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Offre_or_essai</name>
        <label>Offre or essai</label>
        <locationX>1172</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>offre</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_d_interet_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marque</targetReference>
            </connector>
            <label>offre</label>
        </rules>
        <rules>
            <name>essai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type_d_interet_du_prospect__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Marque_0</targetReference>
            </connector>
            <label>essai</label>
        </rules>
    </decisions>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>[Lead] FL05 Noification des prospects {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Lead] FL05 Noification des prospects</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Email_Message</name>
        <label>create Email Message</label>
        <locationX>1799</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>EmailTemplateId</field>
            <value>
                <elementReference>emailTemplateid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>sender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Email_template_BMW_essai</name>
        <label>Get Email template BMW essai</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMW_Notification_essai</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_template_BMW_offre</name>
        <label>Get Email template BMW offre</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BMW_Notification_offre</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_template_conversion</name>
        <label>Get Email template conversion</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>conversion_lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_template_MINI_essai</name>
        <label>Get Email template MINI essai</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI_Notification_essai</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_template_MINI_offre</name>
        <label>Get Email template MINI offre</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MINI_Notification_offre</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_template_MOTORRAD_offre</name>
        <label>Get Email template MOTORRAD offre</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>submited_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOTORRAD_Notification_offre</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_lead</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailTemplateid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00X8d000001HpJ7EAK</stringValue>
        </value>
    </variables>
    <variables>
        <name>sender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>smeia.contact@gmail.com</stringValue>
        </value>
    </variables>
</Flow>
